* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;

  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/images/image.jpg");
}

.App {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}
